.ulRules {
  list-style-type: disc;
  /* list-disc */
  list-style-position: inside;
  /* list-inside */
  padding-left: 1rem;
  /* px-4 */
  display: flex;
  /* flex */
  flex-direction: column;
  /* flex-col */
  gap: 0.25rem;
  /* gap-y-1 (1rem = 4px) */
}