@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');
@import "tailwindcss";

:root {
  font-family: Pirata One, sans-serif;
  line-height: 1.5;
  font-size: larger;
  background: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.buttonLink {
  display: inline-block; /* Pour que le lien ressemble à un bouton */
  color: #646cff; /* Couleur de fond du bouton */
  border-radius: 8px; /* Coins arrondis */
  text-align: center; /* Centrer le texte à l'intérieur */
  text-decoration: none; /* Retirer la décoration de texte */
  transition: background-color 0.3s, transform 0.2s; /* Animation pour un effet visuel */
}

.buttonLink:hover {
  color: #535bf2; /* Couleur de fond au survol */
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
}

ul {
  text-align: left;
}

.wavy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wavy-parchment {
  position: relative;
  width: 100%;
  height: 100%; 
}

.wavy-bg {
  position: absolute;
  inset: 0;
  background-color: #f5deb3;
  box-shadow: inset 0px 0px 65px #8f5922, 2px 3px 20px #000000;
  will-change: filter;
  filter: url(#wavy2);
  transform: translate3d(0, 0, 0);
}

.content {
  position: relative;
}

.parent::after{
  background-color: navy;
}

.parent{
  position: relative;
  inset: 0;
  will-change: filter;
  
}

.parent::before {
  background-color: #f5deb3;
  box-shadow: inset 0px 0px 65px #8f5922, 2px 3px 20px #000000;
  content: "";
  position: absolute;
  filter: url(#wavy2);
  
  transform: translate3d(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place l'effet en arrière-plan */
}